<app-navbar></app-navbar>

<div class="container">

    <nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">Apertura</li>
        </ol>
    </nav>

    <button class="btn btn-success" (click)="crear()" >Apertura</button>
    <br> <br>

    <div class="table-responsive">
        <table datatable  [dtOptions]="dtOptions"  [dtTrigger]="dtTrigger" class="table table-bordered table-sm" >
            <thead>
            <tr class="table-success">
                <th>TURNO</th>
                <th>HORA DE APERTURA</th>
                <th>HORA DE CIERRE</th>
                <th>ACCIONES</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let t of tabla" [ngClass]="{'table-success': t.estado == 0}">
                    <td>{{t.idturno}}</td>
                    <td>{{fechaHora(t.fechaapertura)}}</td>
                    <td>{{fechaHora(t.fechacierre)}}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                            <button class="btn btn-outline-success" (click)="continuar(t)"><i class="fa-solid fa-pen-to-square"></i></button>
                            <button class="btn btn-outline-primary" (click)="imprimir(t)"><i class="fas fa-print"></i></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
