.container {
  box-sizing: border-box;
  font-family: monospace;
  background-color: #ffffff;

  div {
    color: #a02430;
    background-clip: text;
    -webkit-background-clip: text;
    font-family: "Changa One", cursive;
    font-size: 5vh;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;

    img {
      width: 400px;
    }
  }
}

@keyframes slide {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: -19%;
  }
}
