// .card {
//   margin: 5px;
//   padding: 10px;
//   border: none;
//   //  -webkit-box-shadow: 10px 2px 17px -4px rgba(0,0,0,0.75);
//   // -moz-box-shadow: 10px 2px 17px -4px rgba(0,0,0,0.75);
//   // box-shadow: 10px 2px 17px -4px rgba(0,0,0,0.75);
// }
.content-cat {
  padding: 0px;
  margin: 0px;
  div div {
    min-height: 50px;
    padding: 5px;
    border: 1px solid #a02430;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  div:hover {
    background-color: #a02430;
    label {
      color: white;
    }
  }
  label {
    font-size: 16px;
    font-weight: bold;
    color: #a02430;
    text-align: center;
  }
}
.content-prod {
  border: solid 1px #a02430;
  border-radius: 10px;
  text-align: center;
  .content-txt-prod {
    padding-bottom: 10px;
    .title-prod {
      font-weight: bold;
      color: #a02430;
    }
    .price-prod {
      padding: 5px;
      font-size: 16px;
      font-weight: bold;
      background-color: #a02430;
      border-radius: 5px;
      color: #fff;
    }
  }
}
.label-special {
  font-size: 24px;
  font-weight: bold;
}
