<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <!-- DIVICION DE CATEGORIAS -->
    <div class="col-md-2">
      <div class="content-cat">
        <div *ngFor="let c of categorias">
          <div
            *ngIf="c.type != 'M'"
            (click)="viewProducts(c)"
            class="col-11 mx-auto m-2"
            role="group"
            aria-label="Basic checkbox toggle button group"
          >
            <label class="" for="btncheck1">{{ c.detail }}</label>
          </div>
        </div>
      </div>
    </div>
    <!-- DIVICION DE LISTADO DE PRODUCTOS -->
    <div class="col-md-6">
      <div class="card">
        <div class="row js-element">
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">
              <i class="fa-solid fa-magnifying-glass"></i>
            </span>
            <input
              type="text"
              class="form-control"
              placeholder="Fltrar..."
              aria-label="Username"
              aria-describedby="basic-addon1"
              (keyup)="focusQuiere($event, 'b')"
            />
          </div>

          <h1 class="text-center text-success">{{ nameCategory }}</h1>

          <div class="col-md-4" *ngFor="let p of products2">
            <div
              class="content-prod m-2"
              *ngIf="!p.variantes.length"
              (click)="addProducts(p)"
            >
              <img src="../../../assets/logo.png" class="img-fluid" alt="..." />
              <div class="content-txt-prod">
                <p class="title-prod">{{ p.name }}</p>
                <span class="price-prod">{{ p.price | currency }}</span>
              </div>
            </div>

            <div
              class="content-prod m-2"
              *ngIf="p.variantes.length"
              (click)="open(content3, p)"
            >
              <img src="../../../assets/logo.png" class="img-fluid" alt="..." />
              <div class="content-txt-prod">
                <p class="title-prod">{{ p.name }}</p>
                <span class="price-prod">{{ p.price | currency }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- DIVICION DE DETALLES DE LA FACTURA -->
    <div class="col-md-4">
      <div class="card">
        <div class="row">
          <div class="col-md-11 mx-auto">
            <div class="d-grid gap-2">
              <div
                class="btn-group-vertical btn-group-lg"
                role="group"
                aria-label="Basic outlined example"
              >
                <button
                  type="button"
                  class="btn btn-outline-success"
                  (click)="open(content, [])"
                >
                  <small>Concepto: {{ varConcepto.label }}</small>
                </button>
                <button
                  type="button"
                  class="btn btn-outline-success"
                  (click)="open(content2, [])"
                >
                  <small
                    >Clientes: <br />
                    {{ varClient.label }}</small
                  >
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="table-responsive m-2">
          <table class="table table-bordered table-sm tableProductAdd">
            <thead>
              <tr class="table-secondary">
                <th scope="col">Nombre</th>
                <th scope="col">Precio x und</th>
                <th scope="col">Cant</th>
                <th scope="col">Total</th>
                <th scope="col">OPC</th>
              </tr>
            </thead>
            <tbody *ngFor="let t of productsSelect">
              <tr *ngIf="!t.variantes.length">
                <td scope="row">{{ t.t_name }}</td>
                <td>
                  {{ t.vlrunitario | currency : "USD" : "symbol" : "1.0-0" }}
                </td>
                <td>{{ t.amount | number }}</td>
                <td>
                  {{ t.vlrtotal | currency : "USD" : "symbol" : "1.0-0" }}
                </td>
                <td>
                  <div
                    class="btn-group"
                    role="group"
                    aria-label="Basic example"
                  >
                    <button
                      type="button"
                      class="btn btn-danger"
                      (click)="deleteProducts(t.id, 0)"
                    >
                      <i class="fa-solid fa-trash"></i>
                    </button>
                    <button
                      type="button"
                      class="btn btn-warning"
                      (click)="subtractProducts(t)"
                    >
                      <i class="fa-solid fa-minus"></i>
                    </button>
                    <button
                      type="button"
                      class="btn btn-success"
                      (click)="sumProducts(t)"
                    >
                      <i class="fa-solid fa-plus"></i>
                    </button>
                  </div>
                </td>
              </tr>
              <tr *ngFor="let v of t.variantes">
                <td scope="row">{{ t.t_name }} ({{ v.descripcion }})</td>
                <td>
                  {{ t.vlrunitario | currency : "USD" : "symbol" : "1.0-0" }}
                </td>
                <td>{{ v.item | number }}</td>
                <td>
                  {{ t.vlrunitario | currency : "USD" : "symbol" : "1.0-0" }}
                </td>
                <td>
                  <div
                    class="btn-group"
                    role="group"
                    aria-label="Basic example"
                  >
                    <button
                      type="button"
                      class="btn btn-danger"
                      (click)="deleteProducts(t.id, v.id)"
                    >
                      <i class="fa-solid fa-trash"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb m-2">
            <li class="breadcrumb-item" aria-current="page">
              Total articulos: {{ totalArticulos | number }}
            </li>
            <li class="breadcrumb-item" aria-current="page">
              Subtotal: {{ subTotal | currency : "USD" : "symbol" : "1.0-0" }}
            </li>
            <li class="breadcrumb-item text-success" aria-current="page">
              Total: {{ total | currency : "USD" : "symbol" : "1.0-0" }}
            </li>
          </ol>
        </nav>

        <div class="row m-2">
          <div class="col-md-12s">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">
                <img src="../../../assets/pago.png" alt="pago" width="40px" />
              </span>
              <input
                type="number"
                class="form-control {{ classErro }}"
                placeholder="Efectivo"
                aria-label="Username"
                aria-describedby="basic-addon1"
                [(ngModel)]="efectivo"
                (keyup)="focusQuiere($event, 'e')"
              />
            </div>
          </div>
          <div class="col-md-12">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">
                <img
                  src="../../../assets/credito.png"
                  alt="pago"
                  width="40px"
                />
              </span>
              <input
                type="number"
                class="form-control {{ classErro }}"
                placeholder="Tajetas"
                aria-label="Username"
                aria-describedby="basic-addon1"
                [(ngModel)]="tarjetas"
                (keyup)="focusQuiere($event, 't')"
              />
            </div>
          </div>
          <div class="col-md-12">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">
                <img src="../../../assets/qr.png" alt="pago" width="40px" />
              </span>
              <input
                type="number"
                class="form-control {{ classErro }}"
                placeholder="Qr"
                aria-label="Username"
                aria-describedby="basic-addon1"
                [(ngModel)]="qr"
                (keyup)="focusQuiere($event, 'q')"
              />
            </div>
          </div>
          <div class="col-md-12">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">
                <img src="../../../assets/rapi.jpg" alt="pago" width="40px" />
              </span>
              <input
                type="number"
                class="form-control"
                placeholder="Rappi"
                aria-label="Rappi"
                aria-describedby="basic-addon1"
                [(ngModel)]="rappy"
                (click)="transferirARappi()"
                (keyup)="focusQuiere($event, 'r')"
              />
            </div>
          </div>
          <div class="col-md-12">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">
                <img src="../../../assets/didi.png" alt="pago" width="40px" />
              </span>
              <input
                type="number"
                class="form-control"
                placeholder="Didi"
                aria-label="Username"
                aria-describedby="basic-addon1"
                [(ngModel)]="didi"
                (keyup)="focusQuiere($event, 'd')"
              />
            </div>
          </div>
        </div>

        <div class="row m-2">
          <div class="col-md-12">
            <label class="label-special">Dinero Recibido</label>
            <div class="input-group mb-3">
              <!-- <span class="input-group-text" id="basic-addon1">
                <i class="fa-solid fa-money-bill"></i>
              </span> -->
              <input
                type="number"
                class="form-control"
                placeholder="Recibido"
                aria-label="Recibido"
                [(ngModel)]="recibe"
                (keyup)="focusQuiere($event, 're')"
              />
            </div>
          </div>
          <div class="col-md-12">
            <label class="label-special">Cambio</label>
            <div class="input-group mb-3">
              <!-- <span class="input-group-text" id="basic-addon1">
                <i class="fa-solid fa-arrow-right"></i>
              </span> -->
              <input
                type="number"
                class="form-control"
                placeholder="Vuelto"
                aria-label="Vuelto"
                [(ngModel)]="vuelto"
                (keyup)="focusQuiere($event, 'v')"
                readonly
              />
            </div>
          </div>
        </div>

        <div class="d-grid gap-2 col-6 mx-auto">
          <button
            type="button"
            class="btn btn-outline-success"
            (click)="facturar()"
          >
            <i class="fa-regular fa-floppy-disk"></i>
            Guardar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-conceptos">Conceptos</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <ul class="list-group">
      <li
        class="list-group-item"
        (click)="concepto({ label: 'Factura de venta', value: 'FVT' })"
      >
        Factura de venta
      </li>
      <!--  <li class="list-group-item" (click)="concepto({label:'Factura electronica',value:4})">Factura electronica</li> -->
      <li
        class="list-group-item"
        (click)="concepto({ label: 'Prueba', value: 'PPP' })"
      >
        Prueba
      </li>
      <li
        class="list-group-item"
        (click)="concepto({ label: 'Cortesia', value: 'COR' })"
      >
        Cortesia
      </li>
    </ul>
  </div>
  <div class="modal-footer"></div>
</ng-template>

<ng-template #content2 let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Clientes</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1"
        ><i class="far fa-user"></i
      ></span>
      <input
        (input)="viewTerceros($event)"
        type="text"
        class="form-control"
        placeholder="Buscar cliente"
        aria-label="Username"
        aria-describedby="basic-addon1"
      />
    </div>

    <table class="table tableTercero">
      <thead>
        <tr>
          <th scope="col">Cedula</th>
          <th scope="col">Nombrecompleto</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of arrClient" (click)="tercerosadd(c)">
          <th scope="row">{{ c.document }}</th>
          <td>
            {{ c.firstName }} {{ c.secondName }} {{ c.firstLastName }}
            {{ c.secondLastName }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer"></div>
</ng-template>

<ng-template #content3 let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Variantes</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let v of arrModalVariante.variantes; let i = index"
        (click)="addProducts2(arrModalVariante, i)"
      >
        {{ v.description }}
      </li>
    </ul>
  </div>
  <div class="modal-footer"></div>
</ng-template>
